body {
  font-family: Arial, Helvetica, sans-serif;
}

/*************index.php*****************/
.text{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
/*navigator*/
.nav ul {
  list-style: none;
  background-color: #FFFFFF;
  text-align: center;
  padding: 0;
  margin: 0;
}

  .nav li {
    width: 130px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1em;
    display: inline-block;
    margin-right: -4px;
  }

  .nav a {
    text-decoration: none;
    color: black;
    display: block;
    border-bottom: 1px solid #888;
    transition: .3s background-color;
    border-bottom: 1px;
  }

  .nav > ul > li {
    text-align: center;
  }

  .nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  .nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }
  .nav li:hover{
    font-weight: bold;
  }

  .nav li:hover ul {
    display: block;
    background-color: #FFF;
    box-shadow: 10px;
    border: 1px solid;
    font-weight: normal;
    z-index: 1;
  }
  .nav li ul li {
    display: block;
  }

/*top bar*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.topbar{
	overflow:hidden;
	background-color: #f5f5f5;
}
.topbar input[type=text] {
	padding:3px;
	vertical-align: middle;
	margin-right: 16px;
	font-size:17px;
	background:url(../img/search.png) no-repeat scroll 7px 7px;
  background-size: 20px;
  background-position: left;
	padding-left: 30px;
  border: 1px solid;
  border-radius: 10px;

}

.right{
  float:right;
}
.header{
  width: 50%;
  margin:auto;
}

/*********************slideshow*******************/
.slide-container{
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/*hide image (default)*/
.slide{
  display: none;
}

/*need help*/
.needhelp{
  background-color: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 20px;
}

footer{
  margin-top: 20px;
  background-color: #f5f5f5;
}
footer ul{
  text-align: left;
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  margin:50px;
}


footer a{
  color: black;
  text-decoration: none;
  font-size: 0.8em;
}

/***************         product.php           ****************/
.filter{
  display: inline-block;
  width: 100px;
  border: none;
}


.submitbutton{
        padding: 5px;
        color: black;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
       }
